.backdrop {
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.backdrop-show {
    opacity: 1;
}

.backdrop-hide  {
    opacity: 0;
    z-index: -100;
}
